@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* --- THEME INJECT START --- */
:root {
  --color-fondo-oscuro: #0D0F12;
  --color-color-primario: #0F2A2E;
  --color-color-secundario: #3A464D;
  --color-color-terciario: #B7CEC7;
  --color-fondo-claro: #F2F4F6;
  --color-texto-secundario: #8A9299;
  --color-texto-principal: #1A1F23;
  --color-acento: #DDE3E6;
}

@theme inline {
  --color-fondo-oscuro: var(--color-fondo-oscuro);
  --color-color-primario: var(--color-color-primario);
  --color-color-secundario: var(--color-color-secundario);
  --color-color-terciario: var(--color-color-terciario);
  --color-fondo-claro: var(--color-fondo-claro);
  --color-texto-secundario: var(--color-texto-secundario);
  --color-texto-principal: var(--color-texto-principal);
  --color-acento: var(--color-acento);
}
/* --- THEME INJECT END --- */

@theme inline {
  --font-sans: var(--font-sansation), var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  overflow-x: clip;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: clip;
  max-width: 100%;
}
